/* Reset default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body{
    background-color: #e6edf5;
    padding: 20px;
}

/* Main container */
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

/* Form section */
.eventForm{
    background-color: #5b84b1;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    color: white;
}

/* Events section */
.events{
    background-color: #5b84b1;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    color: white;
}

/* Inputs */
input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

/* Textarea height */
textarea{
    height: 70px;
}

/* Buttons */
button{
    background-color: #2bb673;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/* Button hover */
button:hover{
    background-color: #239a60;
}
